<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="-p &quot;c:\users\yongy\documents\visual studio 2015\Projects\GOP\src\GOP&quot; web" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
