.overlay-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.main-menu {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 20px;
    bottom: 20px;
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    outline: none;
    overflow: auto;
}

.info-box {
    position: absolute;
    font-size: 18px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 10px;
    width: 300px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    text-align: center;
}

.multiplayer-panel {
    position: absolute;
    left: 0;
    top: 50px;
    padding: 10px;
	max-width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    pointer-events: none;
}
