@{ 
    ViewData["Title"] = "Tools";
}

<h1>@ViewData["Title"]</h1>
<ul>
    <li><a asp-controller="Tools" asp-action="Anglemap">Anglemap</a></li>
    <li><a asp-controller="Tools" asp-action="SpawnLister">Spawn Lister</a></li>
    <li><a asp-controller="DeadPractice" asp-action="Index">Dead Practice</a></li>
    <li><a href="~/freqdl.html">Frequency Discrimination Experiment</a></li>
    <li><a href="~/PitchMatch.html">Pitch Matching Experiment</a></li>
    <li><a href="~/SoundTest.html">Sound Sandbox</a></li>
    <li><a asp-controller="Tools" asp-action="Cookies">Cookies</a></li>
    <li><a asp-controller="Tools" asp-action="Test">Test Page</a></li>
    <li><a asp-controller="Tools" asp-action="Test3D">3D Test Page</a></li>
    <li><a asp-controller="Tools" asp-action="Compare">Compare Scored Ticks</a></li>
    <li><a href="~/Pascal.html">Pascal's Triangle</a></li>
    <li><a asp-controller="Tools" asp-action="Base64">Base 64 converter</a></li>
    <li><a href="~/random-sentences.html">Random sentence generator</a></li>
    <li><a href="~/random-sentences2.html">Random sentence generator 2</a></li>
</ul>
