@{
    ViewData["Title"] = "Test Page";
}

<span class="glyphicon glyphicon-chevron-left"></span>

@section Scripts {
    <script>
        localStorage.clear();
        localStorage.setItem("Hello", "Icy001 0wns");
        console.log(localStorage);
        console.log(indexedDB);
    </script>
}
