@{
    ViewData["Title"] = "Multiplayer";
}

@section styles {
    <link rel="stylesheet" href="../css/gop3d.css" />
}

<h2>@ViewData["Title"]</h2>
<div id="info">Loading something awesome...</div>

<div id="container" style="position: absolute; left: 0; top: 0; z-index: 1000">
</div>

@section scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/lib/threejs/three.js"></script>
    <script src="~/lib/stats.js/build/stats.min.js"></script>
    <script src="~/js/gop.min.js"></script>
    <script src="~/js/GopUI3D.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/multiplayer.js"></script>
    <script>
        var m;
        Utils.loadAltar(Altar.Air).always(function () {
            m = new Multiplayer(document.querySelector("#container"));
            m.init();
        });
    </script>
}
