@model MultiplayerViewModel
@{
    ViewData["Title"] = "Multiplayer";
    ViewData["UseDataTable"] = true;
}

<h1>@ViewData["Title"]</h1>
<p>The migration is still in progress. You can view the past multiplayer games, however.</p>

<h2>Games</h2>
<div id="searchDiv" class="form-inline">
    Username: <input type="text" id="userSearch" class="form-control input-sm" placeholder="Search users">
    # orbs: <input type="number" id="numOrbsSearch" class="form-control input-sm" min="1" placeholder="Search # orbs" />
    Seed: <input type="number" id="seedSearch" class="form-control input-sm" min="0" placeholder="Search seed" />
    Altar: <input type="number" id="altarSearch" class="form-control input-sm" min="0" placeholder="Search altar" />
</div>
<hr />
<table id="gamesTable" class="table table-striped table-condensed table-hover table-clickable-rows" data-order='[[ 0, "desc" ]]'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th># players</th>
            <th>Usernames</th>
            <th># orbs</th>
            <th>Seed</th>
            <th>Altar</th>
            <th>Score</th>
        </tr>
    </thead>
</table>

@section scripts {
    <script src="~/js/gop.js"></script>
    <script>
        var games, table;

        $(function () {
            $("#gamesTable").on("click", "tbody > tr", function () {
                window.open("/Watch/Multiplayer/" + $(this).children("td:first").text());
            });

            games = @Json.Serialize(Model.Games);
            games.forEach(function (game) {
                game.Timestamp = new Date(game.Timestamp);
            });

            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    var username = $("#userSearch").val().toLowerCase();
                    var numOrbs = parseInt($("#numOrbsSearch").val(), 10);
                    var seed = parseInt($("#seedSearch").val(), 10);
                    var altar = parseInt($("#altarSearch").val(), 10);
                    var dataUsername = data[3].toLowerCase();
                    var dataNumOrbs = parseInt(data[4], 10);
                    var dataSeed = parseInt(data[5], 10);
                    var dataAltar = parseInt(data[6], 10);
                    return dataUsername.indexOf(username) > -1 &&
                        (isNaN(numOrbs) || dataNumOrbs == numOrbs) &&
                        (isNaN(seed) || dataSeed === seed) &&
                        (isNaN(altar) || dataAltar === altar);
                }
            );

            table = $("#gamesTable").DataTable({
                data: games,
                deferRender: true,
                columns: [
                    { data: "Id" },
                    {
                        data: "Timestamp",
                        render: function (data, type, row) {
                            if (type === "display")
                                return data.toLocaleString();
                            return data;
                        }
                    },
                    { data: "NumberOfPlayers" },
                    { data: "Usernames" },
                    { data: "NumberOfOrbs" },
                    { data: "Seed" },
                    {
                        data: "Altar",
                        render: function (data, type, row) {
                            if (type === "display") {
                                if (AltarData[data] !== void 0) {
                                    // Capitalize name
                                    var name = AltarData[data].name;
                                    return name[0].toUpperCase() + name.slice(1);
                                }
                                return data + " (custom)";
                            }
                            return data;
                        }
                    },
                    { data: "Score" }
                ],
                stateSave: true
            });

            $("#searchDiv > input").on("input", function() { table.draw(); });
        });
    </script>
}
