@model IEnumerable<PuzzleSubmissionAdminView>
@{
    ViewData["Title"] = "Puzzle Submissions";
    ViewData["UseDataTable"] = true;
}

<h2>@ViewData["Title"]</h2>
<table id="submissionsTable" class="table table-striped table-condensed table-hover table-clickable-rows" data-order='[[ 0, "desc" ]]'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>IP Address</th>
            <th>Username</th>
            <th>Puzzle #</th>
            <th>Score</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        $.getJSON("/api/admin/puzzles", function (data) {
            data.forEach(function (s) {
                s.submission.timestamp = new Date(s.submission.timestamp);
            });

            var table = $("#submissionsTable").DataTable({
                data: data,
                deferRender: true,
                columns: [
                    { data: "submission.id" },
                    {
                        data: "submission.timestamp",
                        render: function (data, type, row) {
                            if (type === "display")
                                return data.toLocaleString();
                            return data;
                        }
                    },
                    { data: "submission.ipAddress" },
                    { data: "username" },
                    { data: "submission.puzzleId" },
                    { data: "submission.score" }
                ]
            });

            $("#submissionsTable").on("click", "tbody > tr", function () {
                var data = table.row(this).data();
                window.open("/Puzzle/" + data.submission.puzzleId + "?code=" + data.submission.code);
            });
        });
    </script>
}
